@font-face {
    font-family: 'Baskervville-Regular';
    src: url('/fonts/Baskervville-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KGLetitHappen';
    src: url('/fonts/KGLetitHappen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    font-family: 'Baskervville-Regular', serif;
    background-color: #000000;
    color: #fff;
}

header {
    background-color: #3F0071;
    position: fixed;
    top: 0;
    /* height: 50px; */
    width: 100%;
    z-index: 99;
    
}

.title-portada {
    font-family: 'KGLetitHappen';
}

.social-icons {
    a { 
        padding-left: 10px;
    }
}


.t-stroke {
    color: transparent;
    -moz-text-stroke-width: 2px;
    -webkit-text-stroke-width: 2px;
    -moz-text-stroke-color: #000000;
    -webkit-text-stroke-color: #ffffff;
}
  
.t-shadow {
    text-shadow: 7px 7px #3c0569;
}
      



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    /* font-size: 25px; */
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 73px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    margin-top: 16px;
    /* padding: 20px; */
  }

  @media (min-width: 768px) {
    .sidenav a:hover {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    /* .portada:hover {
      -webkit-transform:scale(1.2);
      transform:scale(1.2);
    } */
    .portada {
      overflow: hidden;
      transition: transform 1s;
      padding: 5px 0;
    }
  }