---
//import { useState } from 'react';

let links = [
	// {title: 'Nosotras', url: 'nosotras', bgColor: 'purple'},
    {title: 'Comunicaci칩n Feminista', url: 'comunicacion-feminista', bgColor: 'purple'},
    {title: 'Periodismo no violento', url: 'periodismo-no-violento', bgColor: '#FF6500'},
    // {title: 'Mandr치goras TV', url: 'mandragoras-tv', bgColor: 'orange'},
    {title: 'C치psulas', url: 'capsulas', bgColor: 'green'},
    {title: 'Anillo de la abundancia', url: 'anillo-de-la-abundancia', bgColor: 'red'},
    {title: 'Contacto', url: 'contacto', bgColor: 'yellow'},
]


---

<header class="flex justify-between text-white items-center p-4 text-black shadow-lg">
    <a href="/" class="flex items-center">
      <img src="/logo/logo_blanco.png" alt="Logo" class="h-20 w-20 mr-2">
      <h1 class="text-3xl font-bold">Mandr치gorastv</h1>
    </a>
    <nav class="hidden md:block">
        <ul class="flex space-x-4">
            {links.map(({title, url}) => (
            <li><a href={url} class="hover:text-gray-400">{title}</a></li>
            ))}
        </ul> 
    </nav>
    <div class="social-icons flex items-center">
        <a href="https://www.youtube.com/@mandragorastv" target="_blank" rel="noopener noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="45" height="45" viewBox="0,0,256,256">
                <g fill="#FFFFFF" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M24.40234,9c-6.60156,0 -12.80078,0.5 -16.10156,1.19922c-2.19922,0.5 -4.10156,2 -4.5,4.30078c-0.39844,2.39844 -0.80078,6 -0.80078,10.5c0,4.5 0.39844,8 0.89844,10.5c0.40234,2.19922 2.30078,3.80078 4.5,4.30078c3.50391,0.69922 9.5,1.19922 16.10156,1.19922c6.60156,0 12.59766,-0.5 16.09766,-1.19922c2.20313,-0.5 4.10156,-2 4.5,-4.30078c0.40234,-2.5 0.90234,-6.09766 1,-10.59766c0,-4.5 -0.5,-8.10156 -1,-10.60156c-0.39844,-2.19922 -2.29687,-3.80078 -4.5,-4.30078c-3.5,-0.5 -9.59766,-1 -16.19531,-1zM24.40234,11c7.19922,0 12.99609,0.59766 15.79688,1.09766c1.5,0.40234 2.69922,1.40234 2.89844,2.70313c0.60156,3.19922 1,6.60156 1,10.10156c-0.09766,4.29688 -0.59766,7.79688 -1,10.29688c-0.29687,1.89844 -2.29687,2.5 -2.89844,2.70313c-3.60156,0.69922 -9.60156,1.19531 -15.60156,1.19531c-6,0 -12.09766,-0.39844 -15.59766,-1.19531c-1.5,-0.40234 -2.69922,-1.40234 -2.89844,-2.70312c-0.80078,-2.80078 -1.10156,-6.5 -1.10156,-10.19922c0,-4.60156 0.40234,-8 0.80078,-10.09766c0.30078,-1.90234 2.39844,-2.50391 2.89844,-2.70312c3.30078,-0.69922 9.40234,-1.19922 15.70313,-1.19922zM19,17v16l14,-8zM21,20.40234l8,4.59766l-8,4.59766z"></path></g></g>
            </svg>
        </a>
        <a href="https://www.instagram.com/mandragorastv" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="35" viewBox="0,0,256,256">
                <g fill="#FFFFFF" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M16,3c-7.16752,0 -13,5.83248 -13,13v18c0,7.16752 5.83248,13 13,13h18c7.16752,0 13,-5.83248 13,-13v-18c0,-7.16752 -5.83248,-13 -13,-13zM16,5h18c6.08648,0 11,4.91352 11,11v18c0,6.08648 -4.91352,11 -11,11h-18c-6.08648,0 -11,-4.91352 -11,-11v-18c0,-6.08648 4.91352,-11 11,-11zM37,11c-1.10457,0 -2,0.89543 -2,2c0,1.10457 0.89543,2 2,2c1.10457,0 2,-0.89543 2,-2c0,-1.10457 -0.89543,-2 -2,-2zM25,14c-6.06329,0 -11,4.93671 -11,11c0,6.06329 4.93671,11 11,11c6.06329,0 11,-4.93671 11,-11c0,-6.06329 -4.93671,-11 -11,-11zM25,16c4.98241,0 9,4.01759 9,9c0,4.98241 -4.01759,9 -9,9c-4.98241,0 -9,-4.01759 -9,-9c0,-4.98241 4.01759,-9 9,-9z"></path></g></g>
            </svg>
        </a>	
       
    </div>
    <button class="block md:hidden" id="menu-button" >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-8 h-8">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
    </button>
    <nav id="mobile-menu" class="absolute top-16 right-0 bg-black text-white w-full md:w-auto md:static md:flex hidden md:hidden">
        <ul class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-4 p-4 md:p-0">
            {links.map(({title, url}) => (
            <li><a href={url} class="hover:text-gray-400">{title}</a></li>
            ))}
        </ul> 
    </nav>
  </header>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const menuButton = document.getElementById('menu-button');
        const menu = document.getElementById('mobile-menu');

        if (menuButton && menu) {
            menuButton.addEventListener('click', function() {
                menu.classList.toggle('hidden');
            });
        }
    });
</script>