---
let links = [
    {title: 'Inicio', url: '/'},
    {title: 'Comunicación Feminista', url: '/comunicacion-feminista'},
    {title: 'Programas', url: '/programas'},
    {title: 'Cápsulas', url: '/capsulas'},
    {title: 'Anillo de la abundancia', url: '/anillo-de-la-abundancia'},
    {title: 'Contacto', url: '/contacto'},
]
---

<header class="flex justify-between text-white items-center p-4 text-black custom-shadow ">
    <a href="/" class="flex items-center">
      <img src="/logo/logo_blanco.png" alt="Logo" class="h-10 w-10 md:h-14 md:w-14 mr-2">
      <div>
        <h1 class="title text-xl lg:text-2xl font-bold">Mandrágorastv</h1>
        <p class="tracking-wide text-xs lg:text-base">Un programa hecho por mujeres, disidencias y niñeces</p>
      </div>
      
    </a>
    <div class="flex items-center">
        <div class="social-icons flex items-center hidden mx-7 md:flex">
            <a href="https://www.youtube.com/@mandragorastv" target="_blank">
                <img  src="/youtube-50.png" alt="">
            </a>
            <a href="https://www.instagram.com/mandragorastv" target="_blank">
                <img width="40" src="/instagram-icon.png" alt="">
            </a>	
        </div>
        <button class="block " id="menu-button" >
            <img width="30" src="/nav-icon.png" alt="">
        </button>
    </div>
    <div id="mySidenav" class="sidenav flex flex-col justify-center items-center">
        <a href="javascript:void(0)" class="closebtn">&times;</a>
        <a href="/" class="sidenav-logo">
            <img src="/logo/logo_morado.png" alt="Logo" class=" md:w-72 mr-2">
            <p class="tracking-widest text-xs lg:text-base w-96 text-white text-center mb-4">Un programa hecho por mujeres, disidencias y niñeces</p>
        </a>
        <ul class="flex flex-col justify-center items-center mb-12">
            {links.map(({title, url}) => (
            <li class="p-2"><a href={url} class="nav-links text-white t-shadow uppercase text-sm lg:text-xl  ">{title}</a></li>
            ))}
        </ul> 
        <div class="social-icons flex justify-center items-center mx-7 md:flex">
            <a href="https://www.youtube.com/@mandragorastv" target="_blank">
                <img width="50" src="/youtube-50.png" alt="">
            </a>
            <a href="https://www.instagram.com/mandragorastv" target="_blank">
                <img width="40" src="/instagram-icon.png" alt="">
            </a>	
           
        </div>
    </div>
  </header>

 
<style>

.sidenav-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.t-stroke {
    color: transparent;
    -moz-text-stroke-width: 2px;
    -webkit-text-stroke-width: 2px;
    -moz-text-stroke-color: #000000;
    -webkit-text-stroke-color: #ffffff;
}

.t-shadow {
    text-shadow: 7px 7px #3c0569;
}
.custom-shadow {
    box-shadow: 0 15px 12px rgba(0, 0, 0, 0.4);
}

	
</style>