---
import Layout from '../layouts/Layout.astro';

let colaboraciones = [
    {title: 'Centro Cultural Comunitario Espacio Ailanto', url: 'https://www.ailanto.cl/', imgSrc: "/abundancia_logos/ailanto2.png"},
    {title: 'Asociación Nacional de Medios Independientes y Comunitarios ANAMIC', url: 'https://anamic.cl/', imgSrc: '/abundancia_logos/anamic_2.png'},
    {title: 'Fondo Alquimia', url: 'https://www.fondoalquimia.org/', imgSrc: "/abundancia_logos/fondo_alquimia.png"},
    {title: 'Disquería Chilena', url: 'https://disqueriachilena.cl/', imgSrc: "/abundancia_logos/disqueria_chilena.jpeg"},
    {title: 'Centro Cultural Comunitario Casa Rota', url: 'https://www.instagram.com/__cccr/', imgSrc: "/abundancia_logos/casa_rota.png"},
]
---

<Layout title="MandrágorasTv | Comunicación Feminista">
    <section class="mt-24">
        <div class="relative w-full h-96 lg:h-96 xl:h-80 bg-cover bg-center bg-no-repeat"
            style={{
            backgroundImage: 'url(/portadas/Portada_Abundancia.png)',
            }}
        >
            <div class="absolute inset-0 bg-black opacity-30"></div>
            <div class="relative z-10 flex flex-col items-center justify-center h-full text-center text-white">
            <h1 class="title-portada text-6xl md:text-9xl mb-4 uppercase">Anillo de la abundancia</h1>
            <!-- <p class="text-xl md:text-2xl mb-8">Tu descripción inspiradora aquí</p>
            <button class="bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
                ¡Descubre más!
            </button> -->
            </div>
        </div>
    </section>
    <section class="container mx-auto mt-6 px-4 md:mb-4">
       
        <h1 class="text-4xl mb-6">Abundancia</h1>

        <div class="flex flex-col md:flex-col text-xl md:space-y-0">
            <p>En Mandrágorastv creemos que la colaboración y el apoyo colectivo son fundamentales para construir un proyecto sustentable y transformador. A lo largo de los años, hemos tejido una red de alianzas y colaboraciones que han fortalecido nuestra visión de una comunicación feminista y noviolenta.</p><br>
            <p>Fuimos parte de la fundación de la Asociación Nacional de Medios Independientes y Comunitarios ANAMIC, una iniciativa que impulsa y articula proyectos comunicacionales con perspectiva social y comunitaria en todo Chile. También contamos con la colaboración de espacios como el Centro Cultural Comunitario Espacio Ailanto, la Disquería Chilena y el Centro Cultural Comunitario Casa Rota, quienes han aportado a nuestra labor desde el complot creativo. </p><br>
            <p>Este año, nos sentimos honradas de haber recibido el apoyo del Fondo Alquimia, un reconocimiento que refuerza nuestro compromiso de seguir creando contenido feminista.</p>
        </div>
        <div class="flex flex-col md:flex-col text-xl md:space-y-0  mt-6">
            
            <p>Si te interesa apoyar nuestro proyecto, te invitamos a unirte a esta red de abundancia. </p><br>
            <p>Puedes colaborar de diversas maneras: ofreciendo recursos, compartiendo tu experiencia, o simplemente ayudándonos a difundir nuestra labor. Escríbenos a nuestro contacto y sé parte de este movimiento por una comunicación feminista y noviolenta.</p><br>
            <p>En Mandrágorastv, sabemos que la abundancia no solo se mide en recursos materiales, sino en las conexiones, la solidaridad y el compromiso colectivo de quienes sueñan con un mundo diferente. Te esperamos para seguir creciendo juntas.</p>

        </div>
        <div class="my-12 w-auto  h-24 lg:h-72 bg-cover bg-center bg-repeat" style={{
            backgroundImage: 'url(/enredadera_morada.png)',
            }}>
        </div>
        <h1 class="text-4xl mb-6 text-center">Colaboraciones</h1>
        <div class="grid grid-cols-1 md:gap-8 md:grid-cols-3 justify-items-center lg:grid-cols-5 gap-4 my-8">
            {colaboraciones.map(({title, url, imgSrc}) => ( 
                <a href={url} target="_blank" class="w-40 my-4 block max-w-xs">
                    <img src={imgSrc} alt={title} class="w-full h-auto " />
                    {/* <p>{title}</p> */}
                </a>
            ))}
        </div>
    </section>


</Layout>
