---
import Layout from '../layouts/Layout.astro';

let links = [
    {title: 'Autodefensa', url: '/capsulas/autodefensa.png'},
    {title: 'Diccionaria', url: '/capsulas/diccionaria.png'},
    {title: 'El grito', url: '/capsulas/el_grito.png'},
    {title: 'Feminoticias', url: '/capsulas/feminoticias.png'},
    {title: 'Futboleras', url: '/capsulas/futboleras.png'},
    {title: 'La kalle no kalla', url: '/capsulas/lakallenokalla.png'},
	{title: 'Las hijas del Abya Yala', url: '/capsulas/las_hijas_del_abya_yala.png'},
	{title: 'Prácticas futuristas', url: '/capsulas/practicas_futuristas.png'},
	{title: 'Telacuentos', url: '/capsulas/telacuentos.png'},
	{title: 'Reveládas', url: '/capsulas/reveladas.png'},
	{title: 'Trenzando sueños', url: '/capsulas/trenzando_suenos.png'},

]


---

<Layout title="MandrágorasTv | Bienvenide a nuestro sitio web">
	<section class="mt-24">
        <div class="relative w-full h-96 lg:h-96 xl:h-80 bg-cover bg-center bg-no-repeat"
            style={{
            backgroundImage: 'url(/mandragoras_banner.png)',
            }}
        >
            <div class="absolute inset-0 bg-black opacity-50"></div>
            <div class="relative z-10 flex flex-col items-center justify-center h-full text-center text-white">
            	<h1 class="title-portada text-6xl md:text-9xl mb-4  uppercase">Cápsulas</h1>
            </div>
        </div>
    </section>

	

	<section class="container mx-auto px-4 my-6 md:mb-4">
		<h1 class="text-5xl my-12">En construcción....</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
            {links.map(link => (
                <div class="relative w-full h-72">
                    <img src={link.url} alt={link.title} class="w-full h-full object-fill lg:object-cover rounded-lg shadow-lg" />
                    {/* <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity">
                        <h2 class="text-white text-xl font-bold">{link.title}</h2>
                    </div> */}
                </div>
            ))}
        </div>
    </section>


</Layout>