---
import Layout from '../layouts/Layout.astro';
---

<Layout title="MandrágorasTv | Comunicación Feminista">
    <section class="mt-24">
        <div class="relative w-full h-96 lg:h-96 xl:h-80 bg-cover bg-center bg-no-repeat"
            style={{
            backgroundImage: 'url(/portadas/Portada_Escuela.png)',
            }}
        >
            <div class="absolute inset-0 bg-black opacity-30"></div>
            <div class="relative z-10 flex flex-col items-center justify-center h-full text-center text-white">
            <h1 class="text-4xl md:text-7xl mb-4">Escuela de comunicación feminista</h1>
            <!-- <p class="text-xl md:text-2xl mb-8">Tu descripción inspiradora aquí</p>
            <button class="bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
                ¡Descubre más!
            </button> -->
            </div>
        </div>
    </section>
    <section class="container mx-auto my-16 md:mb-4">
        <div class="w-full h-24 bg-contain bg-center bg-repeat" style={{
            backgroundImage: 'url(/enredadera_morada.png)',
            }}></div>
        <h1 class="text-4xl mb-6">MandrágorasTV -  Somos</h1>
       
        <div class="flex flex-col md:flex-row text-xl space-y-4 md:space-y-0 md:space-x-7">
            <p>Somos una organización dedicada a la comunicación feminista, utilizando el periodismo noviolento como nuestra guía editorial para todas las producciones audiovisuales que realizamos. Somos un colectivo formado por mujeres, disidencias y niñeces, y llevamos a cabo un programa mensual que refleja nuestro propósito y compromiso con la transformación social y personal.</p>
            <p>Nuestro modelo de organización es horizontal, con roles rotativos que fomentan la participación equitativa y la colaboración. Creemos profundamente en la autoformación como herramienta de empoderamiento, lo que nos ha llevado a crear la Escuela de Comunicación Feminista, un espacio de aprendizaje que se realiza anualmente. Somos autogestionadas, lo que significa que construimos y sostenemos nuestro proyecto desde la autonomía y la colectividad.</p>
        </div>
        <div class="my-4 w-full h-24 bg-contain bg-center bg-repeat" style={{
            backgroundImage: 'url(/enredadera_morada.png)',
            }}></div>
    </section>

</Layout>