---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';

---
<Layout title="Mandr谩gorasTv | Bienvenide a nuestro sitio web">

	<h1 class="mt-24">En construcci贸n....</h1>
    <section class="container mx-auto px-4">
        <div class="flex flex-col md:flex-row items-center md:space-x-8">
          <!-- Descripci贸n y lista -->
          <div class="md:w-2/3 p-6 md:text-left">
            <h2 class="text-3xl font-bold mb-4">Cu茅ntame tu idea </h2>
            <p class="mb-4">
                <!-- Escr铆beme para poder agendar una reuni贸n en donde podremos conocernos y conversar sobre lo que tienes en mente, lo que imaginas, tus expectativas y as铆 encontrar la mejor opci贸n para colaborar juntos y concretar tu proyecto. -->
                驴Tienes un proyecto en mente? Escr铆beme para encontrar la mejor forma de colaborar juntos y concretar tu visi贸n.
            </p>
    
            <ContactForm/>
    
          </div>
           <!-- Imagen -->
           <div class="md:w-1/3 mb-8 md:mb-0">
            <img src="/logo/logo.png" height="200" width="300" alt="Logo MandragorasTV" />
          </div>
        </div>
      </section>


</Layout>

