---
import Layout from '../layouts/Layout.astro';

//import Hero from '../components/Hero.astro';

---

<Layout title="MandrágorasTv | Bienvenide a nuestro sitio web">

	<!-- <Hero /> -->

	<section class="mt-24">
		<img width="100%" src="/banner_escuela_comunicacion_feminista.png" alt="">
		<!-- <img width="100%" src="/mandragoras_banner.png" alt="">  -->
		<img width="100%" src="/portadas/Portada_periodismo.png" alt="">
		<img width="100%" src="/portadas/Portada_Colaboraciones.png" alt="">
		<img width="100%" src="/portadas/Portada_Escuela.png" alt="">
		<img width="100%" src="/portadas/Portada_Abundancia.png" alt="">
	</section>



</Layout>

<style>
	

	
</style>