---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';

let links = [
    {title: 'Nosotras', url: 'nosotras', bgColor: 'purple'},
    {title: 'Programas', url: 'programas', bgColor: '#FF6500'},
    {title: 'Cápsulas', url: 'capsulas', bgColor: 'orange'},
    {title: 'Galería', url: 'galeria', bgColor: 'green'},
    {title: 'Periodismo No Violento', url: 'periodismo-no-violento', bgColor: 'red'},
    {title: 'Contacto', url: 'contacto', bgColor: 'yellow'},
]
---

<Layout title="MandrágorasTv | Bienvenide a nuestro sitio web">
	<header class="flex justify-between items-center p-4 bg-violet-950 text-white">
		<div class="flex items-center">
		  <img src="/logo_mandragoras.jpg" alt="Logo" class="h-10 w-10 mr-2">
		  <h1 class="text-xl font-bold">Mandrágoras TV</h1>
		</div>
		<nav>
			<nav>
				<ul class="flex space-x-4">
				  {links.map(({title, url}) => (
					<li><a href={url} class="hover:text-gray-400">{title}</a></li>
				  ))}

				</ul>
			  </nav>
		</nav>
	  </header>

	  <Hero />
</Layout>
