---
let links = [
    {title: 'Nosotras', url: 'nosotras', bgColor: 'purple'},
    {title: 'Programas', url: 'programas', bgColor: 'red'},
    {title: 'Cápsulas', url: 'capsulas', bgColor: 'orange'},
    {title: 'Galería', url: 'galeria', bgColor: 'green'},
    {title: 'Periodismo No Violento', url: 'periodismo-no-violento', bgColor: 'red'},
    {title: 'Contacto', url: 'contacto', bgColor: 'yellow'},
]
---

<a href=''>{links.title}</a>


<style>

    a {
        height: 200px;
    }

</style>