
<section class="mt-24">
    <div class="relative w-full h-96 lg:h-96 xl:h-80 bg-cover bg-center bg-no-repeat"
        style={{
        backgroundImage: 'url(/portadas/portada_contacto.png)',
        }}
    >
        <div class="absolute inset-0 bg-black opacity-30"></div>
        <div class="relative z-10 flex flex-col items-center justify-center h-full text-center text-white">
        <h1 class="title-portada text-6xl md:text-9xl mb-4 uppercase">Contacto</h1>
        </div>
    </div>
</section>
<section class="bg-black py-4 container mx-auto flex flex-col items-center">
    <h2 class="text-3xl text-white my-6 t-shadow text-center">¡Únete a nuestro proyecto!</h2>
    <p class="text-center">Escríbenos a: </p>
    <p class="bg-color-program text-center inline text-xl md:text-4xl my-4">contactomandragoras@gmail.com</p>
    <div class=" my-4 md:mb-4 flex flex-col md:flex-row items-center space-between">
        <div class="flex flex-col w-full md:w-1/2 p-4 mb-4 md:mb-0 mx-auto items-center space-y-4">
            <img src="/logo/logo_blanco.png" alt="Contact Image" class="w-40 md:w-60 h-auto rounded-lg">
            <p class="mx-4 text-xl text-center">Si quieres ser parte de nuestro proyecto no dudes en contactarnos, puedes ser parte del círculo de creadoras de contenido feminista,  pero también puedes ser parte de quienes apoyan económicamente a que este proyecto para que  siga en su camino de difusión comunicación feminista y el peridosimo noviolento.</p>
        </div>
        <!-- <div class="w-full md:w-1/2 p-4">
            <form action="#" method="POST" class="space-y-4 text-black">
                <div class="relative">
                    <input type="text" id="name" name="name" class="peer mt-4 block w-full px-3 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-xl" placeholder=" " />
                    <label for="name" class="absolute left-3 top-4 text-gray-500 transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-gray-500 peer-focus:top-2 peer-focus:text-sm peer-focus:text-indigo-500">Nombre</label>
                </div>
                <div class="relative">
                    <input type="email" id="email" name="email" class="peer mt-4 block w-full px-3 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-xl" placeholder=" " />
                    <label for="email" class="absolute left-3 top-2 text-gray-500 transition-all peer-placeholder-shown:top-2 peer-placeholder-shown:text-gray-500 peer-focus:top-2 peer-focus:text-sm peer-focus:text-indigo-500">Email</label>
                </div>
                <div class="relative">
                    <textarea id="message" name="message" rows="4" class="peer mt-4 block w-full px-3 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-xl" placeholder=" "></textarea>
                    <label for="message" class="absolute left-3 top-2 text-gray-500 transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-gray-500 peer-focus:top-2 peer-focus:text-sm peer-focus:text-indigo-500">Mensaje</label>
                </div>
                <div>
                    <button type="submit" class="w-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-xl font-medium rounded-md text-white bg-purple-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Enviar</button>
                </div>
            </form>
        </div> -->
    </div>
</section>
<style>
    button {
        background-color: #150050;
        transition: background-color 0.3s;
    }
    /* Custom styles for floating labels */
    .peer-placeholder-shown + label {
        top: 2rem;
        font-size: 1rem;
        color: #6b7280; /* gray-500 */
    }
    .peer-focus + label,
    .peer:not(:placeholder-shown) + label {
        top: 0;
        font-size: 0.75rem;
        color: #6366f1; /* indigo-500 */
    }
</style>